* {
    font-family: 'Bree Serif', serif;
    max-width: 100%;
    box-sizing: border-box;
}

.navigation{
    background-color: rgb(255, 255, 255);
    border: steelblue 8px solid;
    border-radius: 5px;
    
}

.nav {
    list-style-type: none;
    display: inline-flex;
    margin: 5px;
    border-radius: 5px;
    background-color: rgb(91, 178, 249) ;
    color: rgb(3, 5, 7);
    box-shadow: 0px 8px 6px 0px gray;
    padding: 8px;
    border-style: none;
    flex-flow: row wrap;
    text-align: center;
}

.nav:hover{
    font-size: 120%;
    color: rgb(108, 254, 254);
}
a:visited{
    color: rgb(0, 0, 0);
}

.deckName{
    position: relative;
    border-left: rgb(67, 136, 240) 4px solid;
    box-sizing: border-box;
}

.deckName:hover{
    font-size: 150%;
    cursor: pointer;
}

button, input[type="submit"]{
    background-color: cornflowerblue;
    padding: 10px;
    border: darkblue 4px solid;
    border-radius: 12px;
    box-shadow: 0px 12px 16px 0px gray;
}

button:hover, input[type="submit"]:hover{
    background-color: rgb(31, 245, 224);
    color: white;
}

button:active, input[type="submit"]:active {
    background-color: rgb(31, 245, 224);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

 .flashcardForm{
      border: teal 5px solid;
      border-radius: 10px;
  }

.answerBtn, .next{
    display: inline-block;
    height: auto;
    text-align: center;
    font-size: large;
}

  .question{
    display: inline-block;
    text-align: center;
    height: 125px;
    width: 50%;
    margin: 30px;
    border: rgb(54, 255, 255) 5px solid;
    background-color: rgb(207, 233, 255);
    text-align: center;
    font-size: xx-large;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 5px #666;
  }
  
  .answer:hover, .question:hover{
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .answer{
    display: inline-block;
    text-align: center;
    height: 125px;
    width: 50%;
    margin: 30px;
    border: rgb(54, 255, 255) 5px solid;
    background-color: rgb(207, 233, 255);
    text-align: center;
    font-size: xx-large;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 5px #666;
  }