{% extends "base.html" %}

{% block title %} Flashcards {% endblock %}
{% block content %}

<div class="container">
    <div class="row">
    
      {% for flashcard in flashcards %}

         <div class="question"> <i class="fas fa-question-circle"></i> {{flashcard.text_prompt}} </div>
        
         <button onclick="ShowAndHide()" id="answerBtn" class="answerBtn"> See Answer </button>
         
         <div id="answer" class="answer" style="display: none;" > <i class="fas fa-lightbulb"></i> {{flashcard.answer}} </div>

         <button id="submit" class="next"> Next Flashcard </button>

         {% endfor %}
         
        </div>
      
    </div>

</div>

{% endblock %}